<div class="container content-box mt-5 text-center" *ngIf="user; else loading">
  <h2 class="text-center title mb-4">Bienvenue, {{ user.surnom }} 🐾</h2>

  <div class="row justify-content-center align-items-center profile-layout">
    <!-- Photo -->
    <div class="col-md-4 justify-content-center">
      <img [src]="'https://127.0.0.1:8000/uploads/profiles/' + (user.photo || 'sans_photo.png')"
           alt="Photo de profil"
           class="profile-photo">           
    </div>

    <!-- Information -->
    <div class="col-md-6 profile-info">
      <p><strong>Nom :</strong> {{ user.nom }}</p>
      <p><strong>Prénom :</strong> {{ user.prenom }}</p>
      <p><strong>Rôle :</strong> {{ user.role }}</p>
      <p><strong>Email :</strong> {{ user.email }}</p>
      <p><strong>Pays et Ville :</strong> {{ user.pays }}, {{ user.ville }}</p>
      <p><strong>Adresse :</strong> {{ user.adresse }}</p>
      <p><strong>Téléphone :</strong> {{ user.telephone }}</p>
      <p><strong>Âge :</strong> {{ user.age }} ans</p>
      <p><strong>Date d'inscription :</strong> {{ user.date_inscription }}</p>
      <p><strong>Dernière modification :</strong> {{ user.date_modification }}</p>

      <div class="mt-4 text-center">
        <button class="btn me-2" (click)="editProfile()">✏️ Modifier mon compte</button>
        <button class="btn" (click)="deleteProfile()">🗑️ Supprimer mon compte</button>
      </div>

      <div class="text-center mt-4" *ngIf="user?.role === 'ROLE_PROPRIETAIRE'">
        <a routerLink="/biens/cree" class="btn btn-outline-info">
          🏠 Ajouter un logement
        </a>
      </div>

    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center mt-5">
    <p>Chargement du profil...</p>
  </div>
</ng-template>
