<div class="home-page">
  <div class="overlay-container">
    <div class="container content-box p-4">

      <h1 class="site-title mb-3">Bienvenue</h1>

      <p class="site-slogan mb-4">
        Du château de la reine à la cabane dans les marais, vous trouverez tout chez nous !
      </p>

      <div class="mb-4 expanded_text">
        <p>
            Bienvenue à <strong>Purr Palace</strong>, un univers féérique où
            chaque demeure a une âme. Louez ou achetez votre rêve : un château
            lumineux, une cabane cachée, ou une tour oubliée...
          </p>
          <p>
            Ici, les propriétaires sont des conteurs et les voyageurs deviennent
            des héros. 🐾
          </p>
      </div>

      <div class="row align-items-start">

      <div class="text-area">  
        <!-- Map -->
        
          <img
            src="assets/images/map/map.png"
            alt="Carte du Royaume"
            class="map-image"
          />
        <p>🏝️ Авалон — остров вечной весны и исцеления

Среди туманов и яблоневых садов спит легендарный остров, где ветер пахнет мёдом, а вода возвращает силы.
Здесь, говорят, король Артур нашёл покой, а фея Морганы правит тишиной и тайнами.
На рассвете можно встретить Мелюзину у прозрачных источников или услышать отголоски древних песен, которые поют волны.

🌸 Идеальное место для: восстановления душевного равновесия, медового месяца или тихого уединения вдали от суеты.
⚠️ Осторожно: время течёт медленнее, чем в обычном мире — туристы рискуют остаться навсегда.

🏰 Камелот — сердце рыцарской чести

Где-то между сказкой и легендой возвышается замок Камелот — город славы, мечей и идеалов.
Здесь круглые столы собирают лучших воинов, а вино подаётся с историями.
Каждый вечер балконы озаряются светом факелов, и даже воздух пахнет приключением.

💒 Идеальное место для: свадеб в старинном стиле, рыцарских фестивалей и корпоративов с духом средневековья.
🛡️ Совет: аренда брони не входит в стоимость проживания.

🌿 Муми-дол — долина доброты и горячего чая

Добродушные муми-тролли приглашают вас в уютную долину, где пахнет пирогами и сосновой смолой.
Здесь даже снег ложится мягче, а гости всегда получают вторую порцию варенья.

🏡 Идеальное место для: семейного отдыха, йоги под фонариками и зимних прогулок.
💬 Совет: не забудьте зонт — даже дождь здесь улыбчивый.

     <!-- Empreinte de patte dans le coin inférieur droit -->
    <img
      src="assets/images/decor/paw-stamp.png"
      alt="Sceau du chat"
      class="paw-stamp"
    />
    
        </div>
      </div>
    </div>
  </div>
</div>
