<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm position-relative fixed-top">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="assets/images/logo/cat-logo.jpg" alt="Logo" class="logo-img me-2">
            Purr Palace
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">

  <!-- Si l'utilisateur est connecté -->

      <div class="d-flex align-items-center justify-content-center flex-grow-1">
        <ng-container *ngIf="user">
          <a class="navbar-brand d-flex align-items-center" routerLink="/profile">
          <img [src]="'/uploads/profiles/' + user.imageName"
               alt="Avatar"
               class="rounded-circle me-2"
               width="40" height="40">
          <span class="text-white fs-5">{{ user.prenom }}</span>
          </a>
        </ng-container>
      </div>

    <ul class="navbar-nav ms-auto me-4 d-flex align-items-center">
      <li class="nav-item" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
        <a
          class="nav-link"
          routerLink="/"
          >Accueil</a>
      </li>

      <!-- Si l'utilisateur est connecté -->

      <ng-container *ngIf="user; else guestLinks">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/profile">Profil</a>
          </li>

          <!-- Déconnexion -->
          <li class="nav-item">
            <a class="nav-link text-danger logout-link" (click)="logout()">Déconnexion</a>
          </li>
        </ng-container>

    <!-- Si l'utilisateur n'est pas connecté -->
          <ng-template #guestLinks>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">Se connecter</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/register">S'inscrire</a>
      </li>
    </ng-template>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/faq">FAQ</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
        </div>
      </div>
    </nav>
