<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm position-relative fixed-top">
    <div class="container">
      
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="assets/images/logo/cat-logo.jpg" alt="Logo" class="logo-img me-2">
            Purr Palace
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarNav">
      
      
      <ul class="navbar-nav ms-auto">
  <li class="nav-item" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
    <a
      class="nav-link"
      routerLink="/"
      >Accueil</a>
  </li>

  <!-- Si l'utilisateur est connecté -->
      <ng-container *ngIf="user; else guestLinks">
        <img [src]="'/uploads/profiles/' + user.imageName" 
             alt="Avatar" class="rounded-circle me-2" width="35" height="35">
        <span class="me-3">{{ user.prenom }}</span>
        
      

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/profile">Profil</a>
  </li>
  <button class="btn btn-outline-danger btn-sm" (click)="logout()">Déconnexion</button>
</ng-container>
  
<!-- Si l'utilisateur n'est pas connecté -->
      <ng-template #guestLinks>
<li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/login">Se connecter</a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/register">S'inscrire</a>
  </li>
</ng-template>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/faq">FAQ</a>
  </li>
  
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/contact">Contact</a>
  </li>
</ul>
    </div>
  </div>
</nav>
