<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm position-relative fixed-top">
    <div class="container">
      
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="assets/images/logo/cat-logo.jpg" alt="Logo" class="logo-img me-2">
            Purr Palace
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarNav">
      
      
      <ul class="navbar-nav ms-auto">
  <li class="nav-item" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
    <a
      class="nav-link"
      routerLink="/"
      >Accueil</a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/login">Connexion</a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/register">Inscription</a>
  </li>
  
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/faq">FAQ</a>
  </li>
  
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/contact">Contact</a>
  </li>
</ul>
    </div>
  </div>
</nav>
