<div class="content-box container mt-5" style="width: 95%;">
  <h2 class="title">Contactez-nous</h2>

  <div class="contact-info">
    <p><strong>Téléphone :</strong> +32 478 123 456</p>
    <p><strong>Email :</strong> info&#64;purrpalace.com</p>
    <p><strong>Adresse :</strong> Kasteelpark van Gaasbeek, 1750 Lennik, Belgique</p>
  </div>

        <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2522.0144435324046!2d4.196775!3d50.7938409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3b874579abba7%3A0x9545ab8d4208cf0d!2sKasteelpark%20van%20Gaasbeek!5e0!3m2!1sru!2sbe!4v1760823923028!5m2!1sru!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">

        </iframe>
        </div>

        <hr>

  <p class="text">
    <strong
      >Si vous avez des questions, n'hésitez pas à nous envoyer un message. Notre
      personnel vous contactera dans les plus brefs délais.</strong
    >
  </p>

  <!-- Important! -->
  <app-contact-form></app-contact-form>

  