.card {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 460px;
}

.card-img-top {
  height: 180px;
  object-fit: cover; /* чтобы фото не растягивалось, а заполняло блок */
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-title{
  font-family: "Chelsea Market", system-ui;
  font-size: 1rem;
  color: #3b2e2a important;
  text-align: center;
  letter-spacing: 1px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-body .btn {
  margin-top: auto; 
  width: 100%;
}

.card-text {
  min-height: 70px;
  overflow: hidden;
}

.card-info {
  min-height: 80px;
}
