.card {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-title{
  font-family: "Chelsea Market", system-ui;
  font-size: 1rem;
  color: #3b2e2a important;
  text-align: center;
  letter-spacing: 1px;
}