/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  background-color: #fff7f2;
}

.btn {
  background-color: teal;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: darkcyan;
}
